on:
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  ci-cd:
    name: continuous-integration-continuous-deployment
    runs-on: ubuntu-latest
    steps:
      - name: terraform-setup
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.14.0
      - name: checkout-code
        uses: actions/checkout@v3
      - name: terraform-providers-installation
        run: terraform init
      - name: terraform-validation-and-change-detection
        run: terraform plan
      - name: terraform-change-application
        run: terraform apply -auto-approve
  